<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="ConnectionString" value="Server=DESKTOP\MSSQLSERVER12;Database=EPropertyDB;User ID=sa;Password=1234;Trusted_Connection=False" />
    <add key="ConnectionStringNew" value="Server=DESKTOP\MSSQLSERVER12;Database=EPropertyDB_Owner1;User ID=sa;Password=1234;Trusted_Connection=False" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=DESKTOP\MSSQLSERVER12;Initial Catalog=EPropertyDB;User ID=sa;Password=1234;" providerName="System.Data.SqlClient" />--><!--<add name="EPropertyEntities" connectionString="metadata=res://*/BO.OwnerModel.csdl|res://*/BO.OwnerModel.ssdl|res://*/BO.OwnerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP\MSSQLSERVER12;initial catalog=EPropertyDB_Owner1;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  <add name="PropertyEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP\MSSQLSERVER12;initial catalog=EPropertyDB;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  <add name="EPropertyEntities" connectionString="metadata=res://*/BO.OwnerModel.csdl|res://*/BO.OwnerModel.ssdl|res://*/BO.OwnerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP\MSSQLSERVER12;initial catalog=EPropertyDB_Owner1;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>