<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--  Add copyright info.   -->
    <add key="copyright" value="Copyright © 2018 2rSolution.com"/>
    <add key="WebUrl" value="http://localhost:1303"/>
    <!--<add key="WebUrl" value="https://www.eproperty365.net" />-->
    <add key="strMailServer" value="mail.eproperty365.com"/>
    <add key="strMailUser" value="sbutcher@eproperty365.com"/>
    <add key="strMailPassword" value="Epr0perty365@809br"/>
    <add key="strMailPort" value="465"/>
    <add key="isMailLive" value="true"/>
    <add key="fromAddress" value="no-reply@eproperty365.com"/>
    <add key="toAddress" value="aftabudduza@gmail.com"/>
    <add key="ccAddress" value="info@eproperty365.com"/>
    <add key="bccAddress" value="aftabudduza@gmail.com"/>
    <add key="FileItUser" value="admin"/>
    <add key="FileItPassword" value="admin"/>
    <!--<add key="ScreenUser" value="butcher_xml" />
    <add key="ScreenPassword" value="butcherPass1" />-->
    <add key="ScreenUser" value="4500xml"/>
    <add key="ScreenPassword" value="credit123"/>
    <!-- forte ACH Live information.  -->
    <add key="MerchantID" value="231278"/>
    <add key="LoginID" value="3nmC763bPB"/>
    <add key="ProcessingKey" value="WsC8h0p813JuQ"/>
    <!--<add key="LoginID" value="PVKy2n23v2"/>
    <add key="ProcessingKey" value="VrU5G3J61ts"/>-->
    <add key="Datasource" value="AFTAB-PC"/>
    <add key="UserId" value="sa"/>
    <add key="Password" value="1234"/>
    <add key="microsoft.visualstudio.teamsystems.aspnetdevserver:/2RPOS" value="20751;True;5432;1;-8587745105205163588"/>
    <add key="microsoft.visualstudio.teamsystems.backupinfo" value="1;web.config.backup"/>
    <add key="ConnectionString" value="Server=AFTAB-PC;Database=EPropertyDB;User ID=sa;Password=1234;Trusted_Connection=False"/>
    <add key="ConnectionStringNew" value="Server=AFTAB-PC;Database=EPropertyDB_Owner1;User ID=sa;Password=1234;Trusted_Connection=False"/>
    <!--<add key="ConnectionString" value="Server=173.248.153.72,1533;Database=EPropertyDB;User ID=sa;Password=M5p#4Wb)xnH8NS;Trusted_Connection=False" />
    <add key="ConnectionStringNew" value="Server=173.248.153.72,1533;Database=EPropertyDB_Owner1;User ID=sa;Password=M5p#4Wb)xnH8NS;Trusted_Connection=False" />-->
    <add key="Model" value="OwnerModel"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="SQLDB" connectionString="Data Source=173.248.153.72,1533;Initial Catalog=EPropertyDB;User ID=sa;Password=M5p#4Wb)xnH8NS" providerName="System.Data.SqlClient" />
    <add name="SQLDBOwner" connectionString="Data Source=173.248.153.72,1533;Initial Catalog=EPropertyDB_Owner1;User ID=sa;Password=M5p#4Wb)xnH8NS" providerName="System.Data.SqlClient" />
    <add name="PropertyEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.248.153.72,1533;initial catalog=EPropertyDB;persist security info=True;user id=sa;password=M5p#4Wb)xnH8NS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EPropertyEntities" connectionString="metadata=res://*/BO.OwnerModel.csdl|res://*/BO.OwnerModel.ssdl|res://*/BO.OwnerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=173.248.153.72,1533;initial catalog=EPropertyDB_Owner1;user id=sa;password=M5p#4Wb)xnH8NS;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SQLDB" connectionString="Data Source=AFTAB-PC;Initial Catalog=EPropertyDB;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
    <add name="SQLDBOwner" connectionString="Data Source=AFTAB-PC;Initial Catalog=EPropertyDB_Owner1;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
    <add name="PropertyEntities" connectionString="metadata=res://*/BO.Model1.csdl|res://*/BO.Model1.ssdl|res://*/BO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AFTAB-PC;initial catalog=EPropertyDB;persist security info=True;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EPropertyEntities" connectionString="metadata=res://*/BO.OwnerModel.csdl|res://*/BO.OwnerModel.ssdl|res://*/BO.OwnerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AFTAB-PC;initial catalog=EPropertyDB_Owner1;user id=sa;password=1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <!--<compilation debug="true" targetFramework="4.5.2" />-->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
      <expressionBuilders>
        <add expressionPrefix="localizeByText" type="LocalizationExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="52428800"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <sessionState timeout="3600"/>
    <customErrors mode="Off"/>
  </system.web>
  <!--<location path="AdminLTE">
   <authorization>
      <allow users="*" />
    </authorization>
  </location>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Reserved-ReportViewerWebControl-axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <defaultDocument>
      <files>
        <clear/>
        <!--<add value="default.aspx" />-->
        <add value="pages/login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000"/>
        <!-- Allow files of upto 50,000,000 bytes (about 50Mb) to be uploaded -->
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMyFileItPEMainService" allowCookies="true" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://myfileit.net/MyFileItPEService/MyFileItPEMainService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyFileItPEMainService" contract="MyFileIt.IMyFileItPEMainService" name="BasicHttpBinding_IMyFileItPEMainService"/>
    </client>
  </system.serviceModel>
</configuration>